{% extends "html/templates/base.html" %}

{% block title %}Zonas de riego con KNN{% endblock %}

{% block head_adds %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='/machine-learning-favicon.ico') }}">
{% endblock %}

{% block content %}
    <h1>Calcular las zonas de riego con KNN cargando un .csv o .xlsx</h1>
    {% if error_message %}
        <div class="alert alert-danger text-center mt-4 fw-bold">
            {{ error_message }}
        </div>
    {% endif %}

    {% if output_file %}
        <div class="alert alert-success text-center mt-4 fw-bold">
            Archivo procesado con éxito. <br>
            <a href="{{ url_for('static', filename=output_file.split('static/')[-1]) }}" class="btn btn-primary mt-2" download>Descargar Resultados</a>
        </div>
    {% endif %}

    <div class="container mt-5 d-flex justify-content-center">
        <div class="card shadow-lg p-4 rounded-3">
            <form method="post" class="card-body" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Selecciona un archivo Excel</label>
                    <input type="file" class="form-control" id="file" name="file" accept=".csv,.xlsx" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Cargar</button>
            </form>

            <a href="{{ url_for('static', filename=template_file_path.split('static/')[-1]) }}"
                class="btn btn-secondary mt-2 mx-3"
                download
            >
                Descargar Plantilla
            </a>
        </div>
    </div>
{% endblock %}