{% extends 'html/templates/base.html' %}

{% block title %}Historia de flask{% endblock %}

{% block content %}
  <header>
    <h1>Historia</h1>
  </header>
  <div class="container mt-5">
    <div class="card shadow p-4">
        <h1 class="text-center">Historia de Flask</h1>
        <p>Flask es un microframework para Python que fue desarrollado por <strong>Armin Ronacher</strong> en 2010. 
           Surgió como un experimento dentro de un proyecto llamado "Werkzeug and Jinja" y se convirtió en 
           uno de los frameworks más populares para el desarrollo web con Python.</p>
        
        <p>Flask es conocido por su simplicidad y flexibilidad, ya que no impone una estructura rígida y permite 
           a los desarrolladores elegir las herramientas y bibliotecas que desean utilizar. A diferencia de otros frameworks 
           como Django, Flask es minimalista y se basa en el principio de "mantenerlo simple pero extensible".</p>
        
        <p>Desde su lanzamiento, Flask ha ganado una gran comunidad y es utilizado en diversos proyectos, 
           desde aplicaciones pequeñas hasta sistemas empresariales. Su popularidad se debe en parte a su fácil integración 
           con otras bibliotecas y su capacidad para escalar según las necesidades del desarrollador.</p>
        
        <p>En la actualidad, Flask sigue siendo una opción preferida para aquellos que buscan un framework ligero, potente 
           y altamente personalizable para el desarrollo web con Python.</p>
    </div>
</div>
{% endblock %}